# Archivos de entorno y sensibles
.env
.env.local

# Bytecode y caché de Python
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.venv/

# Archivos de IDE
.vscode/
.idea/

# Logs y databases locales
*.log
*.sqlite

# Archivos de Docker
docker-compose.override.yml

# Archivos generados por el sistema
.DS_Store  (macOS)
Thumbs.db  (Windows)